body, p, h1, h2, h3, h4, h5, a, ul, li{
	font-family: 'futura-pt' !important;
}

body{
	background-color: white !important;
}

div#secondary.widget-area{
	display: none;
}

div#primary.content-area{
	width: 100%;
}

div#content.site-content{
	background-color: white;
	padding-top: 20px;
}

.woocommerce-active .site-header .main-navigation{
	width: 100% !important;
}

.main-navigation ul, .secondary-navigation ul{
	text-align: center !important;
}

header#masthead.site-header{
	padding-top: 0px;
	border-top: solid black 5px;
}

nav#site-navigation.main-navigation{
	padding-top: 20px;
	font-family: 'futura-pt';
	font-weight: 600;
}

h1.logo{
	text-align: center;
	font-family: 'futura-pt';
	font-weight: 600;
}

div.storefront-sorting{
	display: none;
}

.home.blog .site-header, .home.page:not(.page-template-template-homepage) .site-header, .home.post-type-archive-product .site-header{
	margin-bottom: 20px;
}

a.button.add_to_cart_button.product_type_simple{
	display: none;
}

span.price.dumb{
	position: absolute;
	bottom:50px;
	left:25%;
	right:25%;
	background-color: white;
	padding: 5px 10px;
}

span.price.dumb:hover{
	background-color: #eee;

}

nav.woocommerce-breadcrumb{
	border-bottom: 0px;
	margin-bottom: 5px;
	font-size: 16px;
}

.single-product div.product form.cart{
	border-bottom: 0px !important;
	border-top: 0px !important;
}

.single-product div.product form.cart .button{
	float: left !important;
	font-family: 'futura-pt';
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 13px;
	padding: 20px 45px;
}

.single-product div.product .summary{
	width: 25% !important;
}

.single-product div.product .price{
	font-size: 24px;
}


.single-product div.product .images{

	width: 72% !important;
	float: left !important;
	margin-right: 3% !important;	
}

a.woocommerce-main-image.zoom{
		width: 49% !important;
	margin-right: 1% !important;
	margin-bottom: 1% !important;
	float: left !important;
}

div.woocommerce-tabs.wc-tabs-wrapper{
	display: none;
}

.woocommerce-active .site-header .site-header-cart{
	position: fixed;
	right:3%;
}

.image-container-please{
	float: left;
	width: 49%;
	margin-right: 1%;
	margin-bottom: 1%;
}

header.entry-header, .hentry .entry-header h1{
	border-bottom: 0px !important;
	margin-bottom: 20px !important;
}

.woocommerce-active .site-header .site-header-cart{
	width: 150px !important;
}